.bg-dark-green {
    background-color: #2F3E46;
}

.bg-medium-green {
    background-color: #354F52;
}

.bg-light-green {
    background-color: #52796F;
}

.bg-very-light-green {
    background-color: #84A98C;
}

.bg-creamy {
    background-color: #CAD2C5;
}

div .my-btn {
    background-color: #2F3E46;
    color: white;
    border: 2px solid;
}

div .my-btn:hover {
    color: white;
    background-color: #1F2E36;
}

div .my-btn:focus {
    box-shadow: none;
}

div .my-btn-two {
    background-color: #52796F;
    color: white;
    border: 2px solid;
}

div .my-btn-two:hover {
    color: white;
    background-color: #42695F;
}

div .my-btn-two:focus {
    box-shadow: none;
}

.my-table {
    text-align: center;
    color: white;
    border-collapse: collapse;
    width: 100%;
}


th {
    background-color: #242a30;
    padding: 2%;
    border: solid 2px;
}

td {
    border: solid 2px;
}

tr:nth-child(even) {
    background-color: #354F52;
}

tr:nth-child(odd) {
    background-color: #52796F;
}

td a {
    color: white;
    text-decoration: none;
}

td a:hover {
    color: #CAD2C5 !important;
}

td a:visited {
    color: white;
}

.board {
    display: grid;
    grid-template-rows: repeat(8, 65px);
}

.row {
    display: flex;
    flex-direction: row;
    width: 520px;
    margin: 0;
    padding: 0;
}

.cell {
    width: 65px;
}


.row:nth-child(odd) .cell:nth-child(odd),
.row:nth-child(even) .cell:nth-child(even)
{
    background-color: #CAD2C5;
}

.row:nth-child(even) .cell:nth-child(odd),
.row:nth-child(odd) .cell:nth-child(even)
{
    background-color: #52796F;
}

.row:nth-child(1) .cell:nth-child(1) {
    border-radius: 5px 0 0 0;
}

.row:nth-child(1) .cell:nth-child(8) {
    border-radius: 0 5px 0 0;
}

.row:nth-child(8) .cell:nth-child(8) {
    border-radius: 0 0 5px 0;
}

.row:nth-child(8) .cell:nth-child(1) {
    border-radius: 0 0 0 5px;
}

.chat-messages {
    margin-top: 50%;
    height: 200px;
    overflow-y: scroll;
    padding: 2%;
}

.chat-input {
    margin-top: 2%;
    padding: 2%;
}

.my-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: indianred;
    display: inline-block;
    margin-left: 2%;
}


