<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body class="bg-dark-green" style="font-family: 'Roboto', sans-serif;">

    <div class="container">

        <div class="d-flex justify-content-between h-25 m-5">

            <div class="w-25">
                <img th:src="@{/images/pawn-picture.png}" class="img-fluid rounded-circle border border-4">
            </div>

            <div class="d-flex justify-content-center align-items-center" style="width: 30%;">
                <div class="h-75 bg-light-green rounded text-white w-100 p-2 border border-4">
                    <div class="d-flex align-items-center">
                        <p class="w-100">
                            <span>Ranking:</span> <span style="float: right;" th:text="${ranking}"></span>
                            <br>
                            <span>Points:</span> <span style="float: right;" th:text="${points}"></span>
                            <br>
                            <span>Games:</span> <span style="float: right;" th:text="${totalGames}"></span>
                            <br>
                            <span>Percentage of games won:</span> <span style="float: right;" th:text="${percentage}"></span>
                        </p>
                    </div>

                    <div class="d-flex align-items-center align-text-bottom mt-4">
                        <p class="w-100">
                            <b>
                                <span>User Name: </span> <span sec:authentication="principal.username" style="float: right;"></span>
                            </b>
                        </p>
                    </div>

                </div>
            </div>

        </div>

        <div class="container w-25 rounded bg-light-green border border-4">

            <div class="justify-content-center d-flex">
                <a th:href="@{/lobby/}" class="btn m-2 w-75 my-btn">Play</a>
            </div>

            <div class="justify-content-center d-flex">
                <a th:href="@{'/profile/' + ${#authentication.name}}" class="btn m-2 w-75 my-btn">Profile</a>
            </div>

            <div class="justify-content-center d-flex">
                <a th:href="@{/ranking}" class="btn m-2 w-75 my-btn">Ranking</a>
            </div>

        </div>

    </div>

</body>
</html>