<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ranking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body class="bg-dark-green text-white" style="font-family: 'Roboto', sans-serif;">

    <div class="container">
        <h3 class="m-3">Top 10 Users</h3>

        <div class="rounded border border-4">
            <table class="my-table">

                <thead>
                    <tr>
                        <th>Position</th>
                        <th>User Name</th>
                        <th>Points</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="user : ${usersRanking}">
                        <td th:text="${user.ranking}"></td>
                        <td>
                            <a th:text="${user.user.userName}" th:href="@{'/profile/' + ${user.user.userName}}"></a>
                        </td>
                        <td th:text="${user.user.userStatistics.points}"></td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div>
            <a th:href="@{/}" class="btn my-btn-two p-2" style="position: fixed; left: 2%; bottom: 2%;">
                <-- Back to Home Page
            </a>
        </div>
    </div>

</body>
</html>