<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chess Registration Page</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script th:src="@{/js/authentication/registration.js}" ></script>
</head>
<body class="bg-dark-green" style="font-family: 'Roboto', sans-serif;">

    <div class="container-fluid d-flex justify-content-center">

        <div class="m-5 d-flex justify-content-center row">

            <div class="d-flex justify-content-center border border-4 rounded bg-light-green col-10 col-lg-6">
                <form action="#" th:action="@{/processRegistrationForm}" method="POST" th:object="${user}" class="w-100">

                    <div th:if="${registrationError}" class="m-3 text-danger">

                        <div>
                            <span th:text="${registrationError}"></span>
                        </div>

                    </div>

                    <div th:if="${#fields.hasErrors('userName')}" class="m-2 mt-3 text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}" />
                        </ul>
                    </div>

                    <div class="m-3">
                        <input id="username" type="text" th:field="*{userName}" placeholder="User Name" class="form-control">
                    </div>

                    <div th:if="${#fields.hasErrors('password')}" class="m-2 text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
                        </ul>
                    </div>

                    <div class="m-3">
                        <input id="password" type="password" th:field="*{password}" placeholder="Password" class="form-control">
                    </div>

                    <div th:if="${#fields.hasErrors('firstName')}" class="m-2 text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}" />
                        </ul>
                    </div>

                    <div class="m-3">
                        <input id="firstname" type="text" th:field="*{firstName}" placeholder="First Name" class="form-control">
                    </div>

                    <div th:if="${#fields.hasErrors('lastName')}" class="m-2 text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}" />
                        </ul>
                    </div>

                    <div class="m-3">
                        <input id="lastname" type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control">
                    </div>

                    <div th:if="${#fields.hasErrors('email')}" class="m-2 text-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
                        </ul>
                    </div>

                    <div class="m-3">
                        <input id="email" type="text" th:field="*{email}" placeholder="Email" class="form-control">
                    </div>

                    <div class="m-3">
                        <button id="submit-button" type="submit" class="btn my-btn">Register</button>
                    </div>

                </form>
            </div>

            <div class="mt-2 d-flex justify-content-center">
                <a th:href="@{/login}"
                   id="login-button"
                   class="btn my-btn-two"
                   role="button">
                    Back to Login Page
                </a>
            </div>

        </div>

    </div>

</body>
</html>